body {
  padding: 40px 10px;
  background-color: #eee;
}

.listing-reg {
  h1 {
    text-align: center;
    margin: 0 0 2rem;
  }
}

.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  input {
    width: 100%;
    margin: 0px 0 10px;
  }

  .btn {
    flex: 1 0 100%;
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

.my-errors {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table;

  li {
    margin: 0 0 1rem;

    &:before {
      content: "! Error : ";
      color: #f00;
      font-weight: bold;
    }
  }
}

.listing-table {
  width: 100%;

  th {
    padding: 10px;
    border-bottom: 1px solid #666;
    background: #000;
    color: #fff;

    &:first-child {
      border-right: 1px solid #666;
    }
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #666;
    text-align: center;

    &:first-child {
      border-right: 1px solid #666;
    }
  }
}