footer.social-footer
  .social-footer-left
    a(href='#')
      img.logo(src='images/knight.png')
  .social-footer-icons
    ul.menu.simple
      li
        a(href='https://www.facebook.com/')
          i.fa.fa-facebook(aria-hidden='true')
      li
        a(href='https://www.instagram.com/?hl=en')
          i.fa.fa-instagram(aria-hidden='true')
      li
        a(href='https://www.pinterest.com/')
          i.fa.fa-pinterest-p(aria-hidden='true')
      li
        a(href='https://twitter.com/?lang=en')
          i.fa.fa-twitter(aria-hidden='true')