doctype html
html(lang='en')
  head
    title= `${title}`
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='hello')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='manifest' href='/manifest.js')
    meta(name='theme-color' content='#317EFB')
    link(rel='StyleSheet' href='css/styles.css' type='text/css')
    link(rel='apple-touch-icon' href='/images/hello-icon-152.png')
    link(rel='icon', href='favicon.ico')
header
  nav
      ul
        li
          a(href='/') Home
        li |
        li
          a(href='#') About
        li |
      ul
        li.registernav
          a(href='form') Register
        li 
          a(href='login') Login
if !admin
    main
        section#intro-text
            span Welcome to easychess.com .. 
            h3
                br
                |    ... let me tell you more   ...      
            p Hi, I am Sameer, a US national Chess Master &amp; looking to teach you this great game of strategy &amp; risk-taking &mdash;need I say more?
            if !!isHomePage
                button.submit-buttton Latest news
        section#intro-image
            block content
        section#hist
            span Brief history on chess        
            p The history of chess can be traced back nearly 1500 years, although the earliest origins are uncertain. The earliest predecessor of the game probably originated in India, by the 7th century AD. From India, the game spread to Persia.
            span Birth of sport
            p The first modern chess tournament was held in London in 1851 and won, surprisingly, by German Adolf Anderssen, who was relatively unknown at the time. Anderssen was hailed as the leading chess master, and his brilliant, energetic attacking style became typical for the time, although it was retrospectively regarded as strategically shallow.Sparkling games like Anderssen's Immortal game and Evergreen Game or Morphy's Opera game were regarded as the highest possible summit of the chess art.
            span 
else
    main.admin-container
        block content
include footer
