extends layout

form(action='/login' method='post')
    label Username:
    input(type='text' name='username')
    br
    label Password:
    input(type='password' name='password')
    input(type='submit' value='Submit')