extends layout

block content

    if registrations.length
        table.listing-table.table-dark.table-striped
            tr
                th Name
                th Email
                th Username 
                th Password
            each registration in registrations
                tr
                    td= registration.name
                    td= registration.email
                    td= registration.username 
                    td= registration.password
    else
        p No registrations yet :(